.ImageSection {
    background-color: gray;
    height: 50%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.ImageSection img {
    height: 200px;
    margin-top: 5%;
    margin-bottom: 0.5%;

}