.Grid {
    left: 0;
    margin-top: 3%;
}

.Control {
    margin-top: 5%;
}

@media (min-height: 700px) and (min-width: 700px) {
    .Grid {
        height: 100%;
        width: 700px;
    }  
}

@media (min-height: 800px) and (min-width: 800px) {
    .Grid {
        height: 100%;
        width: 800px;
    }  
}