body {
    background-color: whitesmoke;
}

div {
    font-weight: 700;
    margin: 1%;
    font-style:italic;
    font-size: small;
    background-color:none;
    width: auto;
}

p {
    background-color: blanchedalmond;
}

.InputSection {
    background-color: black;
}

.ButtonsPosition {
    height: 10%;
    width: 100%;
    position: fixed;
    top: 90%;
    left: 0;
    margin-top: 1%;
    border-radius: 15px;
}

.ButtonsPosition button {
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 25px;
    padding: 15px;
    background-color: burlywood;
    font-size: small;
    font-weight: 1000;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-inline-color: black;
    border-width: 5px;
}

.ButtonsPosition button:hover {
    background-color: teal ;
}

.ButtonsPosition > div {
    background-color: black;
}

.Alert {
    font-size: xx-large;
    font-weight: 700;
    border-radius: 24px;
    animation: blinkingBackground 5s infinite;
}
@keyframes blinkingBackground{
   0% {background-color: whitesmoke;}
   45% {background-color: red;}
   95% {background-color: whitesmoke;}
}

